{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/product_by_category.css' %}"/>
    {% for category in products %}
    {% if forloop.counter < 2 %}
    <h1>Products by category "{{category.category.title}}"</h1>
    <br>
    {% endif %}
    {% endfor %}

    <div class="container-fluid d-flex flex-wrap width-100 p-0">
        {% for product in products %}
        {% if product.active == True %}
        <div class="card m-1">
            <div class="d-flex justify-content-center img-border">
                <img src="{{ product.cover.url }}" class="card-img-top product-img" alt="...">
            </div>
            <div class="card-body">
                <a href="{{ product.get_url }}" class="card-font-color">
                <h5 class="card-title">{{ product.title }}</h5>
                </a>
                <p class="card-text">{{ product.category }}</p>
                <p class="card-text">{{ product.price }}€</p>
                <a href="{{ product.get_add_to_cart_url }}" class="btn btn-warning">Add to cart</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}